{% extends "base.html" %}
{% load staticfiles %}
{%block content%}
<div class="row">
    <div class="small-12 medium-11 small-centered columns panel-contenido">
        <div class="row">
            <div class="small-11 medium-11 columns titulo small-centered">
                <h3>Créditos</h3>
            </div>            
        </div>
        <div class="row">
            <div class="small-11 small-centered medium-10 columns texto">
                <h5>Esta librería fue desarrollada por la Universidad Distrital Francisco 
                    José de Caldas como parte del proyecto de investigación “Creación de una 
                    librería de datos espectrales y fotosintéticos de algunas especies 
                    representativas del arbolado urbano de Bogotá”, efectuado por los estudiantes 
                    de pregrado Erich Fajardo Carrillo, Andrea Girón Gómez y Lina Lizarazo Becerra; 
                    y dirigida por los docentes Iván Lizarazo Salcedo y Orlando Riaño Melo.</h5><br>
                <h5>Todos los datos presentados en la librería corresponden a información  espectral 
                    y fotosintética de algunas especies que se localizan en el Jardín Botánico José 
                    Celestino Mutis.</h5>
            </div>
        </div>
    </div>
</div>

{%endblock%}

