{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Inicio - Librería{% endblock %}
{%block content%}
<div class="row">
    <div class="small-12 medium-11 small-centered columns panel-contenido">
        <div class="row">
            <div class="small-11 medium-11 columns titulo small-centered">
                <h3>Bienvenidos a la librería de datos espectrales y fotosintéticos del jardín 
                    Botánico José Celestino Mutis</h3>
            </div>            
        </div>
        <div class="row">
            <div class="small-11 small-centered columns">
                <div class="row">
                    <div class="small-11 small-centered medium-6 medium-uncentered columns texto ">
                        <h5>En esta biblioteca se recopila el comportamiento espectral de los principales 
                            especies arbóreas presentes en el Jardín Botánico José Celestino Mutis, 
                            teniendo también la recopilación de algunas variables fotosintéticas.
                        </h5><br>
                        <h5>En una primera etapa, se ha tratado con la especies Quercus Humboldtii, 
                            Podocarpus Oleifolius, Tibouchina Lepidota, Clusia Multiflora y Mangolia 
                            Grandiflora. Éstas especies corresponden a la primera recopilación de estas 
                            variables por su importancia para el arbolado urbano de Bogotá.</h5>
                    </div>   
                    <div class="small-11 medium-6 small-centered medium-uncentered columns imagen">
                        <img src="{% static 'img/Podocarpus_Oleifolius.jpg' %}" alt="Podocarpus Oleifolius" width="100%">
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}

