{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Información{% endblock %}
{%block content%}
<div class="row">
    <div class="small-12 medium-11 small-centered columns panel-contenido">
        <div class="row">
            <div class="small-11 medium-11 columns titulo small-centered">
                <h3>Información</h3>
            </div>            
        </div>
        <div class="row">
            <div class="small-11 small-centered medium-10 columns texto">
                <h5>La información recolectada contempla dos perspectivas de las especies arbóreas: la respuesta espectral (firma espectral) y el rendimiento fotosintético (curvas de luz “A/PFD”).  
                    La respuesta espectral, representada a través de firmas espectrales, fue recolectada a través del espectorradiómetro HandHeld-2, que va desde los 325 hasta los 1075 nanómetros, 
                    capturando raflectancia cada nanómetro.</h5><br>
                <h5>El rendimiento fotosintético en función de las variaciones de radiación fotosintéticamente activa (PAR), se realizó en el momento en el que la planta presentó  su valor máximo 
                    de fotosíntesis a lo largo del día. Esta información fue recolectada con el Irga TPS-2, teniendo el CO2 de ambiente.</h5>
            </div>
        </div>
    </div>
</div>

{%endblock%}

