{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Librería{% endblock %}
{% block scripts %}
<script src="{% static 'js/excanvas.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row" id="libreria" >
    <div class="small-12 medium-11 small-centered columns panel-contenido">

        <div class="row">
            <div class="small-11 medium-11 small-centered columns tabla">
                <div class="tabla2">
                    <table align="center" cellspacing="0" id="GridView1" style="width:100%;border-collapse:collapse;">
                        <thead>
                            <tr class="GridviewScrollHeader">
                                <th>Código</th>
                                <th>Nombre Común</th>
                                <th>Nombre Cientifico</th>
                                <th>Fecha de Captura</th>
                                <th>Sensor</th>
                                <th>IRGA</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if lista %}
                            {% for i in lista %}
                            <tr id="{{ i.id }}" class="GridviewScrollItem" onmouseover="RowMouseOver({{ forloop.counter0 }});" onmouseout="RowMouseOut({{ forloop.counter0 }});" onclick="RowSelect({{ forloop.counter0 }});">
                                <td>{{ i.codigo }}</td>
                                <td>{{ i.nombre_comun }}</td>
                                <td id="nom-cient-{{ i.id }}">{{ i.nombre_cientifico }}</td>
                                <td>{{ i.fecha_captura }}</td>
                                <td>{{ i.sensor }}</td>
                                <td>{{ i.IRGA }}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div> 

        </div>

        <hr>
        <input type="hidden" value="00" id="t-id">
        <div class="row">
            <div class="small-11 medium-11 small-centered columns panel-datos">
                <h4 id="titulo-especie" class="titulo-lib">Magnolia Grandiflora</h4>
                <div class="row">
                    <div class="small-12 medium-4 small-centered medium-uncentered columns img-especie" ><img src="{% static 'img/Magnolia_Grandiflora.jpg' %}"></div>
                    <div class="small-6 medium-4 small-centered medium-uncentered columns tabla-clasificacion">

                        <table id="t-clasificacion">   
                            <thead>
                                <tr>
                                    <td colspan="2" >Clasificación Cientifica</td>
                                </tr>
                            </thead>
                            <tbody > 
                                <tr>
                                    <td class="t-clas">Reino</td>
                                    <td id="t-reino">Plantae</td>
                                </tr>
                                <tr>
                                    <td class="t-clas">Subreino</td>
                                    <td id="t-subreino">Tracheobionta</td>
                                </tr>
                                <tr>
                                    <td class="t-clas">Divisón</td>
                                    <td id="t-division">Magnoliophyta</td>
                                </tr>
                                <tr>
                                    <td class="t-clas">Clase</td>
                                    <td id="t-calse">Magnoliopsida</td>
                                </tr>
                                <tr>
                                    <td class="t-clas">Subclase</td>
                                    <td id="t-subclase">Magnoliidae</td>
                                </tr>
                                <tr>
                                    <td class="t-clas">Orden</td>
                                    <td id="t-orden">Magnoliales</td>
                                </tr>
                                <tr>
                                    <td class="t-clas">Familia</td>
                                    <td id="t-familia">Magnoliaceae</td>
                                </tr>
                                <tr>
                                    <td class="t-clas">SubFamilia</td>
                                    <td id="t-subfamilia">Magnolioideae</td>
                                </tr>
                                <tr>
                                    <td class="t-clas">Tribu</td>
                                    <td id="t-tribu">Magnolieae</td>
                                </tr>
                                <tr>
                                    <td class="t-clas">Genero</td>
                                    <td id="t-generp">Magnolia</td>
                                </tr>
                                <tr>
                                    <td class="t-clas">Subgenero</td>
                                    <td id="t-subgenero"></td>
                                </tr>
                                <tr>
                                    <td class="t-clas">Sección</td>
                                    <td id="t-seccion"></td>
                                </tr>
                                <tr>
                                    <td class="t-clas">Especie</td>
                                    <td id="t-especie">Magnolia Grandiflora</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>    
                    <div class="small-12 medium-4 small-centered medium-uncentered columns map" id="map"></div>   

                </div>
                <div class="row">

                </div>
            </div> 
        </div>
        <hr>
        <div class="row">
            <div class="small-12 medium-11 small-centered columns ">
                <h4 class="titulo-lib">Firmas Espectrales e índices de vegetación</h4>
                <div class="row">
                    <div class="small-8 columns">
                        <div id="g-firmas" class="g-grafica"></div>
                    </div>
                    <div class="small-4 columns" id="indices">
                        <table id="t-indices" class="t-tabla">                           
                            <tbody >      
                            <thead>
                                <tr>
                                    <td colspan="2" >INDICES DE VEGETACIÓN</td>
                                </tr>
                            </thead>
                            <tr>
                                <td class="t-clas">INDIVIDUO</td>
                                <td id="t-indice">Magnolia</td>
                            </tr>
                            <tr>
                                <td class="t-clas">NDVI</td>
                                <td id="t-ndvi"></td>
                            </tr>
                            <tr>
                                <td class="t-clas">RDVI</td>
                                <td id="t-rdvi"></td>
                            </tr>
                            <tr>
                                <td class="t-clas">MSR</td>
                                <td id="t-msr"></td>
                            </tr>
                            <tr>
                                <td class="t-clas">MSAVI</td>
                                <td id="t-msavi"></td>
                            </tr>
                            <tr>
                                <td class="t-clas">MCARI</td>
                                <td id="t-mcari"></td>
                            </tr>
                            <tr>
                                <td class="t-clas">TVI</td>
                                <td id="t-tvi"></td>
                            </tr>
                            <tr>
                                <td class="t-clas">MCARI1</td>
                                <td id="t-mcari1"></td>
                            </tr>
                            <tr>
                                <td class="t-clas">MTVI1</td>
                                <td id="t-mtvi1"></td>
                            </tr>
                            <tr>
                                <td class="t-clas">MCARI2</td>
                                <td id="t-mcari2"></td>
                            </tr>
                            <tr>
                                <td class="t-clas">MTVI2</td>
                                <td id="t-mtvi2"></td>
                            </tr>                           
                            </tbody>
                        </table>
                    </div>

                </div>


            </div>

        </div>
        <br>
        <div class="row">
            <div class="small-3 small-centered columns">
                <a class="button round small success expand" id="cvs1">Descargar CSV</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="small-12 medium-11 small-centered columns ">
                <h4 id="titulo-especie" class="titulo-lib">Parámetros de Curva de Luz</h4>
                <div class="row">
                    <div class="small-12 medium-8 columns ">
                        <div id="g-parametros" class="g-grafica"></div>
                    </div>
                    <div class="small-4 small-centered medium-4 columns" id="parametros">
                        <table id="t-parametros" class="t-tabla">                           
                            <tbody >     
                                <tr>
                                    <td class="t-clas">Individuo</td>
                                    <td id="t-individuo"></td>
                                </tr>    
                                <tr>
                                    <td class="t-clas">A máx</td>
                                    <td id="t-amax"></td>
                                </tr>
                                <tr>
                                    <td class="t-clas">K</td>
                                    <td id="t-k"></td>
                                </tr>
                                <tr>
                                    <td class="t-clas">Rd</td>
                                    <td id="t-rd"></td>
                                </tr>
                                <tr>
                                    <td class="t-clas">PCL</td>
                                    <td id="t-pcl"></td>
                                </tr>                                                     
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
       

    </div>
</div>
{% endblock %}
<script>
            libreria();
</script>

