{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Protocolos{% endblock %}
{% block content %}
<div class="row">
    <div class="small-12 medium-11 small-centered columns panel-contenido">
        <div class="small-11 medium-11 columns titulo small-centered">
            <h3>Descarga de protocolo de espectrorradiometría</h3>
            <embed src="{% static 'files/Protocolo_espectrorradiómetro.pdf' %}" width="100%" height="575"></embed>
        </div>
        <br>
         <div class="row">
            <div class="small-3 small-centered columns">
                <a href="{% static 'files/Protocolo_espectrorradiómetro.pdf' %}"  target="_blanck" class="button round small success expand">Descargar</a>
            </div>
        </div>
        <div class="small-11 medium-11 columns titulo small-centered">
            <h3>Descarga de protocolo de medición de fotosíntesis</h3>
            <embed src="{% static 'files/Protocolo_TPS2_final.pdf' %}" width="100%" height="575"></embed>
        </div>
        <br>
         <div class="row">
            <div class="small-3 small-centered columns">
                <a href="{% static 'files/Protocolo_TPS2_final.pdf' %}" class="button round small success expand"  target="_blanck">Descargar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}