{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <!--    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">-->
        <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
        <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>

        <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
    <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
<![endif]-->
    </head>

    <body>

        <div class="row">
            <div class="small-12 medium-11 columns small-centered">
                <div class="row cabecera">
                    <img src="{% static 'img/Hoja.png'%}">
                    <div class="small-12 medium-12 columns">
                        <div class="row title-1 titulos ">
                            <div class=" small-12,  columns">
                                <h2>LIBRERÍA DE DATOS ESPECTRALES Y FOTOSINTÉTICOS</h2>
                            </div>
                        </div>
                        <div class="row title-2 titulos ">
                            <div class="small-12 small-centered columns">
                                <h4>Jardín Botánico José Celestino Mutis</h4>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>



        <div class="row">
            <div class="small-12 medium-11 small-centered columns barra-nav ">
                <div class="contain-to-grid ">
                    <nav class="top-bar" data-topbar role="navigation">
                        <ul class="title-area">
                            <li class="name">
                                <h1><a href="{% url 'home' %}"></a></h1>
                            </li>
                            <li class="toggle-topbar menu-icon"><a href="#"><span>MENÚ</span></a></li>
                        </ul>
                        <section class="top-bar-section medium-text-left ">
                            <ul class="left">
                                <li class="divider"></li>
                                <li><a href="{% url 'home' %}">INICIO</a></li>
                                <li class="divider"></li>
                                <li ><a href="{% url 'libreria' %}">LIBRERÍA</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'view_protocolos' %}">PROTOCOLOS</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'view_informacion' %}">INFORMACIÓN</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'view_creditos' %}">CRÉDITOS</a></li>
                                <li class="divider"></li>
                            </ul>
                        </section>
                    </nav>
                </div>
            </div>
        </div>


        <div class="contenido">
            {% block content %}
            {% endblock%}
        </div>

        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
        <script src="{% static 'js/jquery.flot.js' %}"></script>
        <script src="{% static 'bower_components/foundation/js/foundation.min.js' %}"></script>
        <script src="{% static 'js/jquery.filtertable.min.js' %}"></script>
        <script src="{% static 'js/stickyTableHeaders.js' %}"></script>
        <script src="{% static 'js/eventosTabla.js' %}"></script>
        <script src="{% static 'js/maps.js' %}"></script>
        <script src="{% static 'js/gmaps.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>


        {% block scripts%}
        {% endblock %}
        <div class="row footer">
            <div class="small-12 small-centered columns">
                <div class="row footer-cont">

                    <div class="small-12 small-centered columns footer-menu">                        
                        <ul  class="inline-list text-center center">
                            <li><a href="{% url 'home' %}">Inicio</a></li>
                            <li><a href="{% url 'libreria' %}">Libreria</a></li>
                            <li><a href="{% url 'view_protocolos' %}">Protocolos</a></li>
                            <li><a href="{% url 'view_informacion' %}">Información</a></li></a>
                            <li><a href="{% url 'view_creditos' %}">Créditos</a></li></a>
                        </ul>                   
                    </div>
                    <hr>
                    <div class="small-12 small-centered columns">                        
                        <h5>Librería de Datos Espectrales y Fotosintéticos</h5>
                        <h5><span>Jardín Botánico José Celestino Mutis</span></h5> 
                    </div>
                    <br>

                </div>
            </div>
        </div>
    </body>
</html>