@import "settings";
@import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
"foundation/components/alert-boxes",
"foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
"foundation/components/button-groups",
"foundation/components/buttons",
//   "foundation/components/clearing",
"foundation/components/dropdown",
"foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
"foundation/components/forms",
"foundation/components/grid",
"foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
"foundation/components/labels",
"foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
"foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
"foundation/components/side-nav",
"foundation/components/split-buttons",
"foundation/components/sub-nav",
//   "foundation/components/switches",
"foundation/components/tables",
//   "foundation/components/tabs",
"foundation/components/thumbs",
//   "foundation/components/tooltips",
"foundation/components/top-bar",
//   "foundation/components/type",
"foundation/components/offcanvas",
"foundation/components/visibility";


//icnlude any new classes

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic);


$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;

$verde-1: #43AC6A;
$verde-2: #91CA91;
$verde-3: #004D00;
$boton-nav: #fff;
$texto-negro: #333;


html,
body {
    font-size: 100%;
    height: 100%;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0px;
    padding: 0px;
}

body {
    background: transparent url("../img/bg.gif") repeat scroll 0% 0%;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
    color: #363636 !important;

}

a:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.fixed {
    width: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    z-index: 99;
}
.panel-header {
    margin: 0 auto !important;
    row {
        margin: 0 auto !important;
    }
}
.logo {
    min-height: 120px;
    background: $verde-2;
}

/*##############- Barra de navegación -##################*/

.contain-to-grid {
    background: #fff!important;    
}

body nav .divider {
    height: 22px !important;
    margin: 0 px !important;
    margin-top: 13px !important;
    border-right: 1px solid #CBCBCB !important;
    padding: 0px !important;
}
.top-bar {
    z-index: 1000 !important;
    background: #fff none repeat scroll 0% 0% !important;
    box-shadow: 0px 13px 12px -14px #232222; 
    ul li a {
        color:$verde-3  !important;
        background:  #fff none repeat scroll 0% 0% !important;
        line-height: 2.5rem !important;
    }
    ul li {
        background:  #fff none repeat scroll 0% 0% !important;

    }
    .toggle-topbar, li {
        border-top: 2px solid $boton-nav !important;
        a {
            background: $boton-nav none repeat scroll 0% 0% !important;
            color:$verde-3  !important;
            font-family: $oswald !important;
            font-weight: 400 !important;
            font-size: 1.0rem !important;
        }

    }
    ul li:hover {
        border-top: 2px solid $verde-1 !important;
        a {
            color:$verde-1  !important;
        }
    }
    .menu-icon {
        a {
            height: 40px !important;
            margin-top: -5px !important;
            span {
                color: $verde-3 !important;
            }
            span::after {
                box-shadow: 0px 0px 0px 1px #000, 0px 7px 0px 1px #000, 0px 14px 0px 1px #000 !important;
            }
        }
    }
}

.barra-nav {
    padding: 0px !important;
}
/* FIN NVAR BARRA DE NAVEGACION*/

.contenido {
    z-index: 1 !important;
}


/*#################### LIBRERIA ######################*/

.panel-contenido {
    min-height: 550px;
    box-shadow: 0px 13px 12px -14px #232222;
    padding-top: 40px;
    .titulo-lib {
        color: $texto-negro;
        padding: 10px 0px 30px 0px; 
    }
    .filter-table{
        width: 200px;
        text-align: right;
        margin: 0 0px 15px auto;

        input {
            font-size: .8rem;
            height: 25px;
            padding: 0px;            
        }
    }
    .filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
    .fitler-table .quick:hover { text-decoration: underline; }

    .tabla tr td {
        font-size: 14px;  
        padding: 5px 14px;
    }
    .tabla tr th {
        text-align: center;
        padding: 5px;
        font-size: 14px !important;  
    }

    .tabla tr:hover {
        cursor: pointer;
        td {
            color: #fff;
        }
    }
    .tabla, .tabla-clasificacion, #indices, #parametros {
        overflow: hidden;
    }
}
.t-tabla tr td {
    padding: 2px 5px;
}

.t-clas {
    font-weight: bold;
}
#t-clasificacion tr td{
    padding: 2px 5px;
    font-style: italic;
}

#t-clasificacion { 
    width: 235px !important;
    thead tr td {
        text-align: center;
    }
}
.map {
    height: 342px !important;
}
#g-firmas {
    width: 530px;
    height: 350px;    
}
.GridviewScrollHeader TH, .GridviewScrollHeader TD
{
    padding: 5px;
    font-weight: bold;
    white-space: nowrap;
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    background-color: #EFEFEF;
    vertical-align: bottom;
    text-align: left;
}
.GridviewScrollItem TD
{
    padding: 5px;
    white-space: nowrap;
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    background-color: #FFFFFF;
}
.GridviewScrollItem .Freeze
{
    background-color: #EFEFEF;
}
.GridviewScrollItemHover TD
{
    padding: 5px;
    white-space: nowrap;
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    background-color: #91CA91;
    cursor: pointer;
}
.GridviewScrollItemHover .Freeze
{
    background-color: #CCCCCC;
}
.GridviewScrollItemSelected TD
{
    padding: 5px;
    white-space: nowrap;
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    background-color: #43AC6A;
    color: #FFFFFF;
}
.GridviewScrollItemSelected .Freeze
{
    background-color: #999999;
}
.GridviewScrollPager 
{
    border-top: 1px solid #AAAAAA;
    background-color: #FFFFFF;
}
.GridviewScrollPager TD
{
    padding-top: 3px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}
.GridviewScrollPager A
{
    color: #666666;
}

.GridviewScrollPager SPAN
{
    font-size: 16px;
    font-weight: bold;
}

/*#################### FIN - LIBRERIA ######################*/

/*#################### FOOTER ######################*/
.footer{
    min-height: 100px;
    background-color: $verde-2;
    color: #fff;
    max-width: 100% !important;
    z-index: -1;
    margin-top: -30px !important;
    .footer-cont {
        margin-top: 45px;
    }
    footer-menu {
        clear:both;
        float:left;
        overflow:hidden;
        width:100%;
    }
    h5{
        font-family: $oswald;
        ont-size: 1.1rem;
        font-weight: 300;
        span{
            font-weight: 200;
            font-size: 1rem;
            font-family: $oswald;
        }
    }
    ul {
        text-align: center;
        li{
            text-align: center;
            display: inline-block;
            float: none;  
        }
        li a{
            color: #fff;
            font-size: 0.8rem;            
        }
        li a:hover{
            color: $verde-3;
        }

    }
}

/*#################### FIN - FOOTER ######################*/

@media #{$small-up} {
    body {
        h1, h2, h3, h4, h5 {
            color: white;
            text-align: center;
            font-family: $oswald;
        }
        .title-1 {
            background: $verde-1;
            min-height: 120px;
            padding-top: 35px; 
            h2 {
                font-size: 2rem;
            }
        }
        .title-2 {
            background: $verde-2;
            min-height: 40px;
            padding-top: 3px;
        }
        .g-grafica{
            width: 230px;
            height: 150px; 
            background-color: whitesmoke;
        }

    }
}

@media #{$medium-up} {
    body {
        .g-grafica {
            width: 530px;
            height: 350px; 
            background-color: whitesmoke;
        }

    }
}

/*MediaQ - NVar Barra de navegación */

@media (max-width: 620px) {
    body nav .divider {
        display: none !important;
    }
    .top-bar {
        ul li:hover {            
            border-top:none !important;
            a {
                background: $verde-1 !important;
                color:$boton-nav  !important;
            }            
        }
        .name a {
            display: none !important;
        }        
    }
    .menu-icon:hover  {
        a {
            background: $boton-nav !important;
        }
    }
}
@media (min-width: 621px) {
    body nav .divider .divider {
        display: inherit !important;
    }
}