@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic);
$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;

$texto: #363636 !important;
.panel-contenido {
    background: #fff;    
    padding-bottom:30px;
    .titulo h3 {
        color: $texto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .texto h5 {
        color: $texto;
        font-family: $lato;
        font-size: 1rem;
        font-weight: 300;
        text-align: justify;
    }
    
    
}